include "ADBase.template"

record(printf, "$(P)$(R)_SYNCFILE")
{
#    field(FMT, "%s_DIG$(DIG)_AD$(LVDET)")
    field(FMT, "%s")
	field(INP0, "$(P)$(Q)_SYNCFILENAME CP")
	field(SIZV, "100")
    field(OUT, "$(P)$(R)FILE:FileName PP")
}
